@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Inter",sans-serif;
}

body{
    background:#1a1a1a;
}

/* Entire Screen */

.login-page{
    display:flex;
    height:100vh;
    background:#1a1a1a;
}

/* Left Section */

.login-left{
    flex:1;
    background:#202020;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:80px;
}

.login-left h1{
    color:#FFA116;
    font-size:52px;
    margin-bottom:20px;
}

.login-left p{
    color:#cfcfcf;
    font-size:18px;
    line-height:30px;
    max-width:450px;
}

.feature-list{
    margin-top:45px;
}

.feature-list div{
    color:white;
    font-size:17px;
    margin-bottom:18px;
}

/* Right */

.login-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#262626;
}

/* Card */

.login-card{

    width:420px;

    background:#2d2d2d;

    padding:45px;

    border-radius:16px;

    box-shadow:0 10px 35px rgba(0,0,0,.45);

}

.login-card h2{

    color:white;

    font-size:34px;

    margin-bottom:8px;

}

.login-card p{

    color:#b5b5b5;

    margin-bottom:30px;

}

/* Inputs */

.login-card input{

    width:100%;

    padding:15px;

    margin-bottom:18px;

    border:none;

    border-radius:8px;

    background:#3a3a3a;

    color:white;

    font-size:15px;

    outline:none;

    transition:.3s;

}

.login-card input::placeholder{

    color:#9d9d9d;

}

.login-card input:focus{

    border:1px solid #FFA116;

    box-shadow:0 0 10px rgba(255,161,22,.35);

}

/* Button */

.login-card button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:8px;

    background:#FFA116;

    color:black;

    font-weight:700;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.login-card button:hover{

    background:#ffb84d;

    transform:translateY(-2px);

}

/* Register */

.register-section{

    margin-top:30px;

    text-align:center;

}

.register-section span{

    color:#a5a5a5;

    display:block;

    margin-bottom:12px;

}

.register-section a{

    text-decoration:none;

    color:#FFA116;

    font-weight:600;

}

.register-section a:hover{

    text-decoration:underline;

}

/* Error */

.error{

    color:#ff5d5d;

    margin-bottom:15px;

    font-size:14px;

}

/* Responsive */

@media(max-width:900px){

.login-page{

    flex-direction:column;

}

.login-left{

    display:none;

}

.login-right{

    width:100%;

}

.login-card{

    width:90%;

    max-width:420px;

}

}